<div class="top-100-header">
    <div class="top-100-title">
        <h2>Top 100 {{year}}</h2>
        <div class="spotify-link-wrapper">
            <a [href]="playlistUrl" class="spotify-btn" target="_blank" title="Open in Spotify">
                <i class="bi bi-spotify me-1"></i>Open in Spotify
            </a>
        </div>
    </div>
    <div class="card info-card">
        <i class="card-body">These top 100 lists were assembled by the four of us each submitting our top 25 tracks that were added to the playlist in that year. 
            If you see less then 100 tracks it means some tracks were submitted by multiple people. The tracks are in random order.
        </i>
    </div>
</div>


<div *ngIf="playlist$ | async as playlist" class="table-container">
    <p-table [value]="playlist" [columns]="cols" [reorderableColumns]="true"
        [scrollable]="true" scrollHeight="calc(100vh - 350px)" [virtualScroll]="true" [virtualScrollItemSize]="50"
        styleClass="p-datatable-striped p-datatable-gridlines" [responsiveLayout]="'scroll'">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="rank-column">#</th>
                <th *ngFor="let col of columns" pReorderableColumn 
                    [pSortableColumn]="col.field !== 'image' ? col.field : null"
                    [ngClass]="col.class">
                    {{col.header}}
                    <p-sortIcon *ngIf="col.field !== 'image'" [field]="col.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
            <tr [pReorderableRow]="index" class="table-row" (click)="openSpotifyUrl(rowData.spotifyUrl)" style="cursor: pointer;">
                <td class="rank-cell">{{index + 1}}</td>
                <td *ngFor="let col of columns" [ngClass]="col.class">
                    <img *ngIf="col.field === 'image'" [src]="rowData[col.field]" class="album-image" alt="Album cover">
                    <ng-container *ngIf="col.field !== 'image'">
                        <span class="cell-content">{{rowData[col.field]}}</span>
                    </ng-container>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>