.top-100-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-100-title {
    display: flex;
    align-items: center;
}

.info-card { 
    width: 418px;
}

.card-link {
    position: absolute;
    margin-top: -36px;
}

h2 {
    margin-bottom: 10px;
    margin-right: auto;
    color: #DCD9CD;
}

.card-body {
    font-size: 13px;
    color: #DCD9CD;
}
