:host {
    max-width: 1280px;
    padding: 2rem;
    /* text-align: center; */
}

.container {
    padding-top: 70px; /* Add top padding to prevent content from hiding under the navbar */
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}
