<div class="flex-container-centered">
    <img ngSrc="dance-skeleton.png" width="164" height="320" priority>
    <div class="card text-center mx-3 mt-3">
        <div class="card-body">
            <div class="title">V.V.I.S.</div>
            <div class="title-footer">
                <span>est. 2018</span>
                <div class="cube"></div>
            </div>
            <p class="card-text mb-5">
               <strong>Welcome to Vlak voordat ik sterf (translation: Moments Before I Die) — a Spotify playlist with over 5,000 tracks.</strong>
               <br /><br />
               Created in 2018 by four Dutch friends, this playlist has quietly grown into a soundtrack of moments — songs discovered, shared, and revisited over the years. It drifts between eras, from the haunting tones of The Smiths and Joy Division to the modern echoes of John Maus, Fleet Foxes, and Interpol. Well-known voices blend with the most hidden corners of indie music, each track chosen for the feeling it leaves behind. Take a moment and explore — its a collection built from curiosity, nostalgia, and love for great music.
            </p>
            <button class="btn btn-danger" (click)="viewPlaylist()">View Playlist</button>
        </div>
    </div>
    <img ngSrc="dance-skeleton.png" width="164" height="320" priority>
</div>
@if (loggedIn) {
    <div class="alert alert-success mt-4" role="alert">
        Successfully retrieved token!
    </div>
}